@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
body {
	margin:0;
	width:100vw;
	height:100vh;
	overflow:hidden;
	font-family: 'Indie Flower', cursive;
}

h1 {
	font-size:50px;
	color:#752f00;
}

h2 {
	font-size:30px;
}



form {
	background-color: antiquewhite;
	display:flex;
	flex-direction:column;
	gap:20px;
	margin-bottom:20px;
	width:320px;
	padding:1%;
	border-radius: 10%;
	border:1px solid black;
	margin:auto;
}

main form input {
	width:100%;
	padding:1em;
	box-sizing:border-box;
	border-radius:3px;
	border:none;
}

form input[type=submit]:hover {
	background-color:black;
	cursor:pointer;
	color:white;
}
form label{
	font-size: 22px;
}
footer {
	position:absolute;
	bottom:0;
	left:0;
	height:50px;
	width:100vw;
	display:flex;
	align-items:center;
	justify-content:center;
	color:white;
}