body{
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Bradley Hand ITC;
    animation: bgchng 20s ease-in-out 2s infinite alternate both;
}

@keyframes bgchng {
    0% {background-image: linear-gradient(to bottom right,rgb(113, 104, 235),rgb(247, 112, 58));}
    25% {background-image: linear-gradient(to bottom right,rgb(134, 248, 114),rgb(218, 119, 218));}
    50% {background-image: linear-gradient(to bottom right,rgb(211, 85, 85),rgb(103, 168, 184));}
    100% {background-image: linear-gradient(to bottom right,rgb(76, 131, 138),rgb(197, 141, 243));}
}
header{
    width:100%;
}
#logoimg{
    width:15%;
    border-radius:50%;
    box-shadow: gray 5px 3px; 
    float:left;
}
#mainheading{
    font-size:7vw;
    text-align:center;
    margin:auto;
    font-family: Bradley Hand ITC;
    color:rgb(65, 53, 39);
    font-weight: 900;
}

#topnav{
    padding:2%;
    margin-top: 2%;
    
}

#topnav:hover{
    outline: brown;
    box-shadow: 5px 5px gray;
}
nav a{
    margin:1.7%;
    text-decoration: none;
    font-size:1.2vw;
    border-radius:30%;
    background-color: cadetblue;
    padding:1%;
    color:whitesmoke;
    box-shadow: gray 3px 4px;
    font-family: cursive;
    transition: 1s;
}
nav a:hover{
    transform:translate(-20px,-2px);
    color:rgb(230, 136, 136);
    box-shadow: 7px 7px 5px rgb(61, 41, 41);
}
.maindiv{
    float:left;
    width:100%;
    margin:1%;
    
}
.leftdiv{
    width:55%;
    float:left;
    margin:1%;
    border-radius: 10%;
    
    margin-bottom: 1%;
    padding:1%;
}
.rightdiv{
    width:35%;
    margin:1%;
    float:left;
    border-radius: 10%;
    
    margin-bottom: 1%;
    padding:1%;
}
.content{
    padding:1%;
    margin:1%;
    margin-bottom:30px;
    border-radius: 10%;
    background-color: #f5edeb;
    overflow:hidden;
}
.content img,video,iframe{
    width:98%;
}
h2{
    text-align: center;
    color:rgb(65, 53, 39);
    font-weight: 900;
    font-size: 2.5vw;
}
.content p{
    text-align:center;
    font-family: cursive;
    font-size: 1.5vw;
}